* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:not(i) {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ae9cff;
}
.container {
  background-color: #ffffff;
  width: 90vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 80px 50px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search-box input {
  padding: 5px;
  width: 70%;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
}

.search-box button {
  padding: 15px 0;
  width: 25%;
  background-color: #ae9cff;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
}
.result {
  position: relative;
}
.result h3 {
  font-size: 30px;
  color: #1f194c;
}
.result.word {
  display: flex;  
  justify-content: space space-between;
  margin-top: 80px;
}
.result button {
  background-color: transparent;
  color: #ae9cff;
  border: none;
  outline: none;
  font-size: 18px;
}
.result.details {
  display: flex;
  gap: 10px;
  color: #b3b6d4;
  margin: 5px 0 20px 0;
  font-size: 14px;
}