*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
}

nav .logo{
  width: 80px;
}
nav ul li{
  list-style: none;
  display: initial;
  margin-left: 40px;
}
nav ul li a{
  text-decoration:none;
  color: #fff;
  font-size: 17px;
}
.content{
  text-align: center;
}
.content h1{
  font-size: 160px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
.content h1:hover{
  -webkit-text-stroke: 2px #05ffee;
  color: transparent;
}
.content a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #f4ac05;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}
.back-video{
  position: absolute;
  right:0;
  bottom: 0;
  z-index: -1;
}
@media (max-aspect-ratio: 16/9) {
  .back-video{
    width: auto;
    height: 100%;
  }
}

