*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hero{
  width: 10%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  justify-content: space-around;
}
