body {
  text-align: unset;
  margin: 0;
  box-sizing: content-box;
  font-family: "Euclid Circular A";
  font-size: 20px;
  color: orange;
  background: #117695bf;
}

.topnav a {
  float: left;
  font-weight: bold ;
  color: #ffffff;
  text-align: center;
  box-sizing: content-box;
  padding: 14px 16px;
  background-color: rgb(118, 173, 249);
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #03fd1caf;
  color: #fcfcfc;
  padding: 20px 22px;
}

p,
h2 {
  text-align: justify;
  position: relative;
  z-index: 1;
  margin: 20px 15%;
  color: rgb(255, 254, 254);
}

p {
  opacity: 0.8;
}

section {
  padding: 40px 0;
}

.footer{
  position: column;
  font-style: normal;
  text-align: right;
}

.image {
  height: 380px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("vw-golf.jpeg");
}

.text {
  position: relative;
  border: 4 px solid yellow;
}

.text::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 125%;
  background: #037aa6f6;
  rotate: -3deg;
  translate: -50% -50%;
}